<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0" style="display:flex">
          <h3 class="mb-0" style="flex:10;align-self:center">Contents</h3>
          <button type="button" class="btn btn-primary" style="flex:1" >Save</button>
        </div>
        <markdown ngPreserveWhitespaces>
          # Markdown
        </markdown>
      </div>
    </div>
  </div>
</div>

